{% extends 'base.html' %}
{% load static %}
{% block title %} Haz tu pregunta a la comunidad! {% endblock %}



{% block banner_content %}
<h2 class="page-cover-tittle f_48"> Haz tu pregunta a la comunidad! </h2>
<p></p>
{% endblock %}

{% block content %}


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>



<section class="sermons_work_area section_gap">
    <div class="container">




        <form class="contact_form" action="" method="post" enctype='multipart/form-data'>
            {% csrf_token %}


            <input type="hidden" name="user" value="{{user.id}}">

            <div class="form-group">
                <label for="id_title"> Titulo </label>
                {{form.title}}
            </div>

            <div class="form-group p-cero">
                <label for="id_categories"> Categorías </label>
                {{form.categories}}
            </div>

            <div class="form-group">
                <label for="id_pregunta"> Pregunta </label>
                {{form.pregunta}}
            </div>

            <div class="col-md-12 text-right p-0">

            <button class="btn_hover btn_hover_two">Crear</button>
</div>
        </form>
        <!--  -->



    </div>
</section>
<script>
    $("#id_categories").selectpicker({
        noneSelectedText: 'Selecciona categorías' // by this default 'Nothing selected' -->will change to Please Select
    });
</script>
<style>
   

    /*  .btn-light {
        color: #111;
        background-color: #ffffff;
        border-color: #ced4da;
    } */
    #cke_id_post,
    .django-ckeditor-widget {
        width: 100% !important;
    }

    .banner_area {
        min-height: 680px;
        background: -webkit-gradient(linear, left top, right top, from(rgba(4, 9, 30, 0.8)), to(rgba(4, 9, 30, 0.8))),
        url("{% static 'img/foto-crear-pregunta.jpg'%}");
        background: -webkit-linear-gradient(left, rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)),
        url("{% static 'img/foto-crear-pregunta.jpg'%}");
        background: -o-linear-gradient(left, rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)),
        url("{% static 'img/foto-crear-pregunta.jpg'%}");
        background: linear-gradient(to right, rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)),
        url("{% static 'img/foto-crear-pregunta.jpg'%}");
        background-size: cover;
    }
</style>



{% endblock %}