{% load static %}
<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <!--    <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">About Agency</h6>
                        <p>The world has become so fast paced that people don’t want to stand by reading a page of
                            information, they would much rather look at a presentation and understand the message. It
                            has come to a point </p>
                    </div>
                </div> -->
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="footer_title">Navegación</h6>
                    <div class="row">
                        <div class="col-8">
                            <ul class="list_style">
                                <li><a href="/">Inicio</a></li>
                                <li><a href="/consultorio">Consultorio</a></li>
                                <li><a href="/eventos">Eventos</a></li>
                                <li><a href="/blog">Blog</a></li>
                                <li><a href="/politica_de_privacidad">Política de Privacidad</a></li>
                                <li><a href="/politica_de_cookies">Política de Cookies</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                      <div class="single-footer-widget">
                        <h6 class="footer_title">Newsletter</h6>
                        <p>For business professionals caught between high OEM price and mediocre print and graphic
                            output, </p>
                        <div id="mc_embed_signup">
                            <form target="_blank"
                                action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                method="get" class="subscribe_form relative">
                                <div class="input-group d-flex flex-row">
                                    <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Email Address '" required="" type="email">
                                    <button class="btn sub-btn"><span class="lnr lnr-location"></span></button>
                                </div>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </div> 
                </div>-->
            <!--    <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget instafeed">
                        <h6 class="footer_title">InstaFeed</h6>
                        <ul class="list_style instafeed d-flex flex-wrap">
                            <li><img src="image/instagram/Image-01.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-02.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-03.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-04.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-05.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-06.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-07.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-08.jpg" alt=""></li>
                        </ul>
                    </div>
                </div> -->
        </div>
        <div class="border_line"></div>
        <div class="row footer-bottom d-flex justify-content-between align-items-center">
            <p class="col-lg-8 col-sm-8 footer-text m-0">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved
                <!-- | This template is
                    made by <a style="color:#777;" href="https://colorlib.com"
                        target="_blank">Colorlib</a> -->
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            <div class="col-lg-4 col-sm-4 footer-social">
                <a href="https://www.instagram.com/wikislam.es/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href="mailto:correo@wikislam.es"><i class="fa fa-at"></i></a>
                <a href="https://www.paypal.com/biz/fund?id=X2VDW2JB6YU2Y" target="_blank"><i
                        class="fa fa-paypal"></i></a>
            </div>
        </div>
    </div>

    <div id="cookie-notice" class="cookie-notification">
        <div class="container">
            <div class="wp-block-column cookie-svg">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                        <g fill="none" fill-rule="evenodd">
                            <circle cx="20" cy="20" r="20" fill="#D5A150"></circle>
                            <path fill="#AD712C"
                                d="M32.44 4.34a19.914 19.914 0 0 1 4.34 12.44c0 11.046-8.954 20-20 20a19.914 19.914 0 0 1-12.44-4.34C8.004 37.046 13.657 40 20 40c11.046 0 20-8.954 20-20 0-6.343-2.954-11.996-7.56-15.66z">
                            </path>
                            <path fill="#C98A2E"
                                d="M10.903 11.35c-.412 0-.824-.157-1.139-.471a4.432 4.432 0 0 1 0-6.26 4.397 4.397 0 0 1 3.13-1.297c1.183 0 2.294.46 3.13 1.296a1.61 1.61 0 0 1-2.276 2.277 1.2 1.2 0 0 0-.854-.354 1.208 1.208 0 0 0-.854 2.06 1.61 1.61 0 0 1-1.137 2.749z">
                            </path>
                            <circle cx="12.894" cy="7.749" r="2.817" fill="#674230"></circle>
                            <path fill="#7A5436"
                                d="M10.09 7.48l-.003.032a1.566 1.566 0 0 0 1.624 1.683 2.824 2.824 0 0 0 2.703-2.578 1.566 1.566 0 0 0-1.624-1.683 2.823 2.823 0 0 0-2.7 2.546z">
                            </path>
                            <path fill="#C98A2E"
                                d="M4.464 24.227c-.412 0-.824-.157-1.138-.471a4.432 4.432 0 0 1 0-6.26 4.398 4.398 0 0 1 3.13-1.297c1.182 0 2.294.46 3.13 1.297a1.61 1.61 0 0 1-2.277 2.276 1.2 1.2 0 0 0-.853-.353 1.208 1.208 0 0 0-.854 2.06 1.61 1.61 0 0 1-1.138 2.748z">
                            </path>
                            <circle cx="6.456" cy="20.626" r="2.817" fill="#674230"></circle>
                            <path fill="#7A5436"
                                d="M3.651 20.356a1.566 1.566 0 0 0 1.62 1.716 2.824 2.824 0 0 0 2.703-2.578 1.566 1.566 0 0 0-1.622-1.683 2.824 2.824 0 0 0-2.7 2.546z">
                            </path>
                            <path fill="#C98A2E"
                                d="M10.098 32.276c-.412 0-.824-.158-1.138-.472a4.432 4.432 0 0 1 0-6.26 4.397 4.397 0 0 1 3.13-1.297c1.182 0 2.294.46 3.13 1.297a1.61 1.61 0 0 1-2.277 2.276 1.2 1.2 0 0 0-.853-.353 1.208 1.208 0 0 0-.854 2.06 1.61 1.61 0 0 1-1.138 2.749z">
                            </path>
                            <circle cx="12.089" cy="28.674" r="2.817" fill="#674230"></circle>
                            <path fill="#7A5436"
                                d="M9.285 28.405a1.566 1.566 0 0 0 1.62 1.716 2.824 2.824 0 0 0 2.703-2.578 1.566 1.566 0 0 0-1.622-1.684 2.824 2.824 0 0 0-2.7 2.546z">
                            </path>
                            <path fill="#C98A2E"
                                d="M18.95 37.91c-.411 0-.823-.158-1.137-.472a4.432 4.432 0 0 1 0-6.26 4.397 4.397 0 0 1 3.13-1.297c1.182 0 2.294.46 3.13 1.297a1.61 1.61 0 0 1-2.277 2.276 1.2 1.2 0 0 0-.853-.353 1.208 1.208 0 0 0-.854 2.06 1.61 1.61 0 0 1-1.138 2.748z">
                            </path>
                            <circle cx="20.942" cy="34.308" r="2.817" fill="#674230"></circle>
                            <path fill="#7A5436"
                                d="M18.138 34.038l-.002.033a1.566 1.566 0 0 0 1.623 1.684 2.824 2.824 0 0 0 2.703-2.578 1.566 1.566 0 0 0-1.623-1.684 2.824 2.824 0 0 0-2.7 2.546z">
                            </path>
                            <path fill="#C98A2E"
                                d="M20.56 15.385c-.411 0-.823-.157-1.138-.471a4.432 4.432 0 0 1 0-6.26 4.397 4.397 0 0 1 3.13-1.297c1.183 0 2.294.46 3.13 1.296a1.61 1.61 0 0 1-2.276 2.277 1.2 1.2 0 0 0-.854-.354 1.208 1.208 0 0 0-.854 2.06 1.61 1.61 0 0 1-1.137 2.75z">
                            </path>
                            <circle cx="22.552" cy="11.784" r="2.817" fill="#674230"></circle>
                            <path fill="#7A5436"
                                d="M19.748 11.514l-.003.033a1.566 1.566 0 0 0 1.624 1.683 2.824 2.824 0 0 0 2.703-2.578 1.566 1.566 0 0 0-1.624-1.683 2.823 2.823 0 0 0-2.7 2.546z">
                            </path>
                            <path fill="#C98A2E"
                                d="M30.219 29.861c-.412 0-.824-.157-1.139-.471a4.432 4.432 0 0 1 0-6.26 4.397 4.397 0 0 1 3.13-1.297c1.183 0 2.294.46 3.13 1.296a1.61 1.61 0 0 1-2.276 2.277 1.2 1.2 0 0 0-.854-.354 1.208 1.208 0 0 0-.854 2.06 1.61 1.61 0 0 1-1.137 2.75z">
                            </path>
                            <circle cx="32.21" cy="26.26" r="2.817" fill="#674230"></circle>
                            <path fill="#7A5436"
                                d="M29.406 25.99a1.566 1.566 0 0 0 1.62 1.716 2.824 2.824 0 0 0 2.703-2.578 1.566 1.566 0 0 0-1.623-1.683 2.824 2.824 0 0 0-2.7 2.546z">
                            </path>
                            <path fill="#C98A2E"
                                d="M29.414 14.57c-.412 0-.824-.158-1.139-.472a4.432 4.432 0 0 1 0-6.26 4.397 4.397 0 0 1 3.13-1.297c1.183 0 2.295.46 3.13 1.297a1.61 1.61 0 0 1-2.276 2.276 1.2 1.2 0 0 0-.853-.353 1.208 1.208 0 0 0-.854 2.06 1.61 1.61 0 0 1-1.138 2.748z">
                            </path>
                            <circle cx="31.405" cy="10.968" r="2.817" fill="#674230"></circle>
                            <path fill="#7A5436"
                                d="M28.601 10.698a1.566 1.566 0 0 0 1.62 1.716 2.824 2.824 0 0 0 2.703-2.578 1.566 1.566 0 0 0-1.622-1.683 2.824 2.824 0 0 0-2.7 2.546z">
                            </path>
                            <path fill="#C98A2E"
                                d="M17.341 24.227c-.412 0-.824-.157-1.138-.471a4.432 4.432 0 0 1 0-6.26 4.397 4.397 0 0 1 3.13-1.297c1.183 0 2.294.46 3.13 1.297a1.61 1.61 0 0 1-2.276 2.276 1.2 1.2 0 0 0-.854-.354 1.208 1.208 0 0 0-.854 2.06 1.61 1.61 0 0 1-1.138 2.75z">
                            </path>
                            <circle cx="19.333" cy="20.626" r="2.817" fill="#674230"></circle>
                            <path fill="#7A5436"
                                d="M16.529 20.356l-.003.033a1.566 1.566 0 0 0 1.623 1.684 2.824 2.824 0 0 0 2.703-2.578 1.566 1.566 0 0 0-1.623-1.684 2.824 2.824 0 0 0-2.7 2.546z">
                            </path>
                            <g fill="#AD712C" transform="translate(2.656 1.875)">
                                <circle cx="7.485" cy="21.143" r="1"></circle>
                                <circle cx="11.509" cy="21.143" r="1"></circle>
                                <circle cx="9.497" cy="17.521" r="1"></circle>
                                <circle cx="2.253" cy="24.765" r="1"></circle>
                                <circle cx="10.301" cy="33.618" r="1"></circle>
                                <circle cx="12.716" cy="30.399" r="1"></circle>
                                <circle cx="16.74" cy="25.57" r="1"></circle>
                                <circle cx="23.179" cy="23.155" r="1"></circle>
                                <circle cx="21.569" cy="24.765" r="1"></circle>
                                <circle cx="23.984" cy="27.179" r="1"></circle>
                                <circle cx="23.984" cy="32.008" r="1"></circle>
                                <circle cx="32.837" cy="15.107" r="1"></circle>
                                <circle cx="30.422" cy="31.203" r="1"></circle>
                                <circle cx="18.35" cy=".62" r="1"></circle>
                                <circle cx="3.863" cy="7.863" r="1"></circle>
                                <circle cx=".644" cy="12.692" r="1"></circle>
                                <circle cx="9.899" cy="13.9" r="1"></circle>
                                <circle cx="12.314" cy="12.692" r="1"></circle>
                                <circle cx="9.899" cy="11.485" r="1"></circle>
                                <circle cx="21.167" cy="17.521" r="1"></circle>
                                <circle cx="15.935" cy="5.449" r="1"></circle>
                                <circle cx="23.581" cy="12.692" r="1"></circle>
                                <circle cx="24.788" cy="16.314" r="1"></circle>
                                <circle cx="27.203" cy="16.314" r="1"></circle>
                                <circle cx="27.203" cy="18.729" r="1"></circle>
                                <circle cx="22.776" cy="4.242" r="1"></circle>
                                <circle cx="25.191" cy="3.034" r="1"></circle>
                            </g>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="wp-block-column cookie-content">
                <div class="ct-cookies-content">Esta web utiliza cookies para ofrecer, evaluar y mejorar el servicio ofrecido a nuestros visitantes. Es importante que conozca qué son las cookies y qué tipos utilizamos. Si continúa navegando consideramos que está de acuerdo con su uso. Podrá revocar el consentimiento y obtener más información consultando nuestra <a href="/politica_de_cookies/">Política de cookies</a>.</div>
            </div>
            <button class=" btn_hover btn_hover_two" onclick="acceptCookie();">Aceptar</button><button class="ct-close"
                onclick="myFunction()">×</button>
        </div>
    </div>

    <style>
        .cookie-notification {
            position: fixed;
            left: 0;
            bottom: 0;
            z-index: 999999;
            color: #fff;
            visibility: hidden;
        }

        .cookie-notification a:hover {
            color: #fff;
        }

        .wp-block-column.cookie-svg {
            max-width: 20%;
            float: left;
            margin-right: 10px;
        }

        @media (max-width:479.98px) {
            .cookie-notification>div {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
            }
        }

        @media (max-width:689.98px) {
            .cookie-notification {
                right: 0;
            }

            .cookie-notification>div {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }

        @media (max-width:689.98px) {
            .cookie-notification {
                background: #fff;
            }
        }

        @media (min-width:690px) {
            .cookie-notification {
                padding: 0 25px 25px 25px
            }

            .cookie-notification .ct-cookies-content {
                margin-bottom: 15px;
            }
        }

        .cookie-notification .container {
            position: relative;
        }

        @media (max-width:689.98px) {
            .cookie-notification .container {
                width: 88%;
                margin: 0 auto;
            }
        }

        @media (min-width:690px) {
            .cookie-notification .container {
                background: #fdfdfd;
                -webkit-box-shadow: 0 5px 30px -5px rgba(34, 56, 101, .15);
                box-shadow: 0 5px 30px -5px rgba(34, 56, 101, .15);
                padding: 25px;
                border-radius: 3px;
                max-width: 330px;
            }
        }

        .cookie-notification .ct-cookies-content {
            font-family: inherit;
            color: #000;
            line-height: 1.4;
        }

        .cookie-notification .ct-cookies-content a {
            text-decoration: underline;
            color: #115cfa;
        }

        @media (max-width:479.98px) {
            .cookie-notification .ct-cookies-content {
                text-align: center;
                margin-bottom: 15px;
            }
        }

        @media (max-width:689.98px) {
            .cookie-notification .ct-cookies-content {
                font-size: 12px
            }
        }

        @media (min-width:690px) {
            .cookie-notification .ct-cookies-content {
                font-size: 13px;
            }
        }

        .cookie-notification .ct-accept {
            color: #fff;
            background: #115cfa;
            border: 0;
            padding: 0 20px;
            height: 35px;
            border-radius: 3px;
            cursor: pointer;
            text-transform: capitalize;
            --buttonShadow: none;
            --buttonTransform: none;
        }

        @media (max-width:479.98px) {
            .cookie-notification .ct-accept {
                width: 100%;
            }
        }

        @media (min-width:480px) and (max-width:689.98px) {
            .cookie-notification .ct-accept {
                margin-left: 20px;
            }
        }

        .cookie-notification .ct-close {
            color: #000 !important;
            position: absolute;
            top: 0;
            right: 0;
            border: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            font-size: 17px;
            width: 45px;
            height: 45px;
            padding: 0;
            opacity: .5;
            color: inherit;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: 0 0;
            -webkit-transition: opacity .2s ease;
            transition: opacity .2s ease;
        }

        .cookie-notification .ct-close:focus {
            outline: 0;
        }

        .cookie-notification .ct-close:hover {
            opacity: 1;
        }

        @media (max-width:689.98px) {
            .cookie-notification .ct-close {
                display: none;
            }

            .wp-block-column.cookie-svg {
                display: none;
            }
        }
    </style>
    <script>
        function acceptCookie() {
            document.cookie = "cookieaccepted=1; expires=Thu, 18 Dec 2030 12:00:00 UTC; path=/", document.getElementById("cookie-notice").style.visibility = "hidden"
        }
        document.cookie.indexOf("cookieaccepted") < 0 && (document.getElementById("cookie-notice").style.visibility = "visible");
        function myFunction() {
            document.getElementById("cookie-notice").style.visibility = "hidden";
        }
    </script>
</footer>

<style>
    .mosaico-bg {
        background-image: url(https://image.freepik.com/vector-gratis/patron-arabe-geometrico-transparente_117445-185.jpg);

    }

    .header_area+section {
        margin-top: 70px !important;
    }

    .header_area .navbar {
        background: white !important;
    }

    .thumb img {
        width: 60px;
        height: 60px;
        border-radius: 100%;

    }
</style>