{% extends 'base.html' %}
{% load static %}
{% block title %} POLÍTICA DE PRIVACIDAD {% endblock %}



{% block banner_content %}
<h2 class="page-cover-tittle f_48"> POLÍTICA DE PRIVACIDAD </h2>
{% endblock %}

{% block content %}

<div class="container my-5">
    <p><strong>POLÍTICA DE PRIVACIDAD</strong></p>


    <p>&nbsp;</p>
    <p>El presente Política de Privacidad establece los términos en que Wikislam usa y protege la información
        que es proporcionada por sus usuarios al momento de utilizar su sitio web. Esta compañía está comprometida con
        la
        seguridad de los datos de sus usuarios. Cuando le pedimos llenar los campos de información personal con la cual
        usted pueda ser identificado, lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este
        documento. Sin embargo esta Política de Privacidad puede cambiar con el tiempo o ser actualizada por lo que le
        recomendamos y enfatizamos revisar continuamente esta página para asegurarse que está de acuerdo con dichos
        cambios.
    </p>

    <p><strong> Obligaciones del usuario</strong></p>
    <p>

        Por el uso del Sitio Web, el usuario manifiesta que es mayor de dieciocho años. Para hacer uso del Sitio Web los
        menores de edad deben obtener previamente permiso de sus padres, tutores o representantes legales, quienes serán
        considerados responsables de todos los actos realizados por los menores a su cargo. El usuario se obliga, con
        carácter general, a utilizar el Sitio Web y los servicios vinculados al mismo, de forma diligente, de
        conformidad con la ley, la moral, el orden público y lo dispuesto en estas condiciones generales y en las
        particulares que sean de aplicación, debiendo, asimismo, abstenerse de utilizarlos en cualquier forma que pueda
        impedir el normal funcionamiento y disfrute por parte de los usuarios del Sitio Web y de los servicios
        vinculados al mismo, o que pudiera lesionar o causar daños a los bienes y derechos de los titulares del Sitio
        Web, de sus proveedores, usuarios o, en general, de cualquier tercero. El usuario, en la utilización del Sitio
        Web y de los servicios vinculados al mismo, se obliga a:
        1. No introducir, almacenar o difundir mediante el Sitio Web o a través de cualquiera de los servicios
        vinculados al mismo, ningún programa de ordenador, dato, virus, código, o cualquier otro instrumento o
        dispositivo electrónico que sea susceptible de causar daños en el Sitio Web, en cualquiera de los servicios
        vinculados al mismo o en cualesquiera equipos, sistemas o redes de las titulares del Sitio Web, de cualquier
        usuario, de sus proveedores o en general de cualquier tercero, o que de otra forma sea capaz de causarles
        cualquier tipo de alteración o impedir el normal funcionamiento del mismo.
        2. No utilizar identidades falsas, ni suplantar la identidad de otros en la utilización del Sitio Web o de
        cualquiera de losservicios vinculados al mismo.
        3. No destruir, alterar, inutilizar o dañar los datos, informaciones, programas o documentos electrónicos de los
        titulares del Sitio Web, de sus proveedores o de terceros.
        4. No introducir, o difundir cualquier información que fuera difamatoria, injuriosa, obscena, amenazadora,
        xenófoba, incite a la violencia, que incite a la
        discriminación por razones de sexo, raza, ideología o religión o que de cualquier forma atente contra la moral,
        el orden público, los derechos fundamentales, las libertades públicas, el honor, la intimidad o la imagen de
        terceros y, en general, la normativa vigente. En el caso de que cualquier usuario considere que existen hechos o
        circunstancias que revelen el carácter ilícito de la utilización de cualquier contenido y/o de la realización de
        cualquier actividad en el Sitio Web o accesibles a través del mismo, deberá enviar una notificación a
        lastitulares del Sitio Web dirigiendo un e-mail a benyamine@outlook.es.
    </p>

    <p><strong>Direcciones IP</strong></p>
    <p>
        Los servidores del sitio web podrán detectar de manera automática la dirección IP y el nombre de dominio
        utilizados por el usuario. Una dirección IP es un número asignado automáticamente a un ordenador cuando éste se
        conecta a Internet. Toda esta información es registrada en un fichero de actividad del servidor debidamente
        inscrito que permite el posterior procesamiento de los datos con el fin de obtener mediciones únicamente
        estadísticas que permitan conocer el número de impresiones de páginas, el número de visitas realizadas a los
        servidores web, el orden de visitas, el punto de acceso, etc.</p>

    <p>DERECHOS DE PROPIEDAD INTELECTUAL E INDUSTRIAL</p>
    <p>
        El sitio web, incluyendo a título enunciativo pero no limitativo su programación, edición, compilación y demás
        elementos necesarios para su funcionamiento, los diseños, logotipos, texto y/o gráficos, son propiedad del
        RESPONSABLE o, si es el caso, dispone de licencia o autorización expresa por parte de los autores. Todos los
        contenidos del sitio web se encuentran debidamente protegidos por la normativa de propiedad intelectual e
        industrial, así como inscritos en los registros públicos correspondientes.

        Independientemente de la finalidad para la que fueran destinados, la reproducción total o parcial, uso,
        explotación, distribución y comercialización, requiere en todo caso de la autorización escrita previa por parte
        del RESPONSABLE. Cualquier uso no autorizado previamente se considera un incumplimiento grave de los derechos de
        propiedad intelectual o industrial del autor.

       </p>

    <p><strong>Información que es recogida</strong></p>
    <p>Nuestro sitio web podrá recoger información personal por ejemplo: Nombre,&nbsp; información de contacto
        como&nbsp; su
        dirección de correo electrónica e información demográfica. Así mismo cuando sea necesario podrá ser requerida
        información específica para procesar algún pedido o realizar una entrega o facturación.</p>

    <p><strong>Uso de la información recogida</strong></p>
    <p>Nuestro sitio web emplea la información con el fin de proporcionar el mejor servicio posible, particularmente
        para
        mantener un registro de usuarios, de pedidos en caso que aplique, y mejorar nuestros productos y servicios.
        &nbsp;Es
        posible que sean enviados correos electrónicos periódicamente a través de nuestro sitio con ofertas especiales,
        nuevos productos y otra información publicitaria que consideremos relevante para usted o que pueda brindarle
        algún
        beneficio, estos correos electrónicos serán enviados a la dirección que usted proporcione y podrán ser
        cancelados en
        cualquier momento.</p>
    <p>Wikislam está altamente comprometido para cumplir con el compromiso de mantener su información segura.
        Usamos los sistemas más avanzados y los actualizamos constantemente para asegurarnos que no exista ningún acceso
        no
        autorizado.</p>

    <p><strong>Cookies</strong></p>
    <p>Una cookie se refiere a un fichero que es enviado con la finalidad de solicitar permiso para almacenarse en su
        ordenador, al aceptar dicho fichero se crea y la cookie sirve entonces para tener información respecto al
        tráfico
        web, y también facilita las futuras visitas a una web recurrente. Otra función que tienen las cookies es que con
        ellas las web pueden reconocerte individualmente y por tanto brindarte el mejor servicio personalizado de su
        web.
    </p>

    <p>Nuestro sitio web emplea las cookies para poder identificar las páginas que son visitadas y su frecuencia. Esta
        información es empleada únicamente para análisis estadístico y después la información se elimina de forma
        permanente. Usted puede eliminar las cookies en cualquier momento desde su ordenador. Sin embargo las cookies
        ayudan
        a proporcionar un mejor servicio de los sitios web, estás no dan acceso a información de su ordenador ni de
        usted, a
        menos de que usted así lo quiera y la proporcione directamente, <a href="" target="_blank"></a>. Usted puede
        aceptar
        o negar el uso de cookies, sin embargo la mayoría de navegadores aceptan cookies automáticamente pues sirve para
        tener un mejor servicio web. También usted puede cambiar la configuración de su ordenador para declinar las
        cookies.
        Si se declinan es posible que no pueda utilizar algunos de nuestros servicios.</p>

    <p><strong>Enlaces a Terceros</strong></p>
    <p>Este sitio web pudiera contener en laces a otros sitios que pudieran ser de su interés. Una vez que usted de clic
        en
        estos enlaces y abandone nuestra página, ya no tenemos control sobre al sitio al que es redirigido y por lo
        tanto no
        somos responsables de los términos o privacidad ni de la protección de sus datos en esos otros sitios terceros.
        Dichos sitios están sujetos a sus propias políticas de privacidad por lo cual es recomendable que los consulte
        para
        confirmar que usted está de acuerdo con estas.</p>

    <p><strong>Control de su información personal</strong></p>
    <p>En cualquier momento usted puede restringir la recopilación o el uso de la información personal que es
        proporcionada
        a nuestro sitio web.&nbsp; Cada vez que se le solicite rellenar un formulario, como el de alta de usuario, puede
        marcar o desmarcar la opción de recibir información por correo electrónico. &nbsp;En caso de que haya marcado la
        opción de recibir nuestro boletín o publicidad usted puede cancelarla en cualquier momento.</p>
    <p>Esta compañía no venderá, cederá ni distribuirá la información personal que es recopilada sin su consentimiento,
        salvo que sea requerido por un juez con un orden judicial.</p>
    <p>Wikislam Se reserva el derecho de cambiar los términos de la presente Política de Privacidad en cualquier
        momento.</p>
    <p>Esta politica de privacidad se han generado en <a href="https://politicadeprivacidadplantilla.com/"
            target="_blank">politicadeprivacidadplantilla.com</a>.<br></p>


</div>


{% endblock %}