{% extends 'base.html' %}
{% load static %}
{% block title %} POLÍTICA DE COOKIES {% endblock %}



{% block banner_content %}
<h2 class="page-cover-tittle f_48"> POLÍTICA DE COOKIES </h2>
{% endblock %}

{% block content %}

<div class="container my-5">
    <p><strong>POLÍTICA DE COOKIES</strong></p>
    <p>
        INFORMACIÓN SOBRE COOKIES

        Debido a la entrada en vigor de la referente modificación de la “Ley de Servicios de la Sociedad de la
        Información” (LSSICE) establecida por el Real Decreto 13/2012, y la entrada en vigor del Reglamento General de
        Protección de Datos Personales (UE) 2016/679 de 27 de abril de 2016 (RGPD) es de obligación obtener el
        consentimiento expreso del usuario de todas las páginas web que usan cookies prescindibles, antes de que éste
        navegue por ellas.

        ¿QUÉ SON LAS COOKIES?

        Las cookies y otras tecnologías similares tales como local shared objects, flash cookies o píxeles, son
        herramientas empleadas por los servidores Web para almacenar y recuperar información acerca de sus visitantes,
        así como para ofrecer un correcto funcionamiento del sitio. Mediante el uso de estos dispositivos se permite al
        servidor Web recordar algunos datos concernientes al usuario, como sus preferencias para la visualización de las
        páginas de ese servidor, nombre y contraseña, productos que más le interesan, etc. Mediante el uso de cookies
        también es posible que el servidor donde se encuentra la web reconozca el navegador utilizado por el usuario con
        la finalidad de que la navegación sea más sencilla, permitiendo, por ejemplo, el acceso de los usuarios que se
        hayan registrado previamente a las áreas, servicios, promociones o concursos reservados exclusivamente a ellos
        sin tener que registrarse en cada visita. También se pueden utilizar para medir la audiencia, parámetros de
        tráfico, controlar el progreso y número de entradas, etc,.

        COOKIES AFECTADAS POR LA NORMATIVA Y COOKIES EXCEPTUADAS

        Según la directiva de la UE, las cookies que requieren el consentimiento informado por parte del usuario son las
        cookies prescindibles o no técnicas, que son las de analítica, de publicidad y afiliación, quedando exceptuadas
        las de carácter técnico y las necesarias para el funcionamiento del sitio web o la prestación de servicios
        expresamente solicitados por el usuario.

        ¿QUÉ TIPOS DE COOKIES EXISTEN?

        Sobre los tipos de cookies, existen cinco grandes grupos:

        ‐ Cookies analíticas: recogen información del uso que se realiza del sitio web.

        ‐ Cookies sociales: son aquellas necesarias para redes sociales externas.

        ‐ Cookies de afiliados: permiten hacer un seguimiento de las visitas procedentes de otras webs, con las que el
        sitio web establece un contrato de afiliación (empresas de afiliación).

        ‐ Cookies de publicidad y comportamentales: recogen información sobre las preferencias y elecciones personales
        del usuario (retargeting).

        ‐ Cookies técnicas y funcionales: son las estrictamente necesarias para el uso del sitio web y para la
        prestación del servicio contratado.


        REVOCACIÓN DEL CONSENTIMIENTO PARA INSTALAR COOKIES, COMO ELIMINAR LAS COOKIES DEL NAVEGADOR

        Chrome

        Selecciona el icono de Herramientas, haz clic en Configuración, haz clic en Mostrar Opciones Avanzadas, en la
        sección “Privacidad” haz clic en Configuración de contenido, eliminar cookies: Haz clic en Todas las cookies y
        los datos de sitios, no permitir que se almacenen cookies. Haz clic en Eliminar datos de navegación (vaciar la
        Caché). Cierra y reinicia el navegador. Para más información sobre Chrome pulse aquí:
        https://support.google.com/chrome/answer/95647?hl=es

        Internet Explorer. Versión 11

        Selecciona Herramientas | Opciones de Internet, haz clic en la ficha General, en la sección “Historial de
        exploración”, haz clic en Eliminar el historial de exploración al salir. Seleccionar Eliminar archivos,
        seleccionar Eliminar cookies, haz clic en Eliminar, haz clic
        en Aceptar, cierra y reinicia el navegador. Para más información sobre Internet Explorer pulse aquí:
        https://support.microsoft.com/es-es/help/278835/how-to-delete-cookie-files-in-internet-explorer

        Firefox.

        Versión 18 Selecciona Firefox | Historial | Limpiar el historial reciente, al lado de “Detalles”, haz clic en la
        flecha hacia abajo, selecciona las siguientes casillas de verificación: Cookies, Caché, Inicios de sesión
        activos. Usando el “Intervalo de tiempo para borrar” en el menú desplegable, selecciona Todo, haz clic en Borrar
        ahora, cierra y reinicia el navegador. Puede aceptar o rechazar las cookies individualmente en las Preferencias
        de Firefox, en la sección Historial disponible en Herramientas > Opciones > Privacidad. Para más información
        sobre Mozilla Firefox pulse aquí:
        https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias

        Otros navegadores

        Consulte la documentación del navegador que tenga instalado.
    </p>
</div>


{% endblock %}