


{% extends 'base.html' %}




{% block title %} {{post}} {% endblock %}

{% block banner_content %}
    <h2 class="page-cover-tittle f_48"> BLOG </h2>
    <p> Un espacio para compartir. </p>
{% endblock %} 

{% block content %}
 <section class="sermons_work_area section_gap">
<div class="container">


        
          
     <form action="" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
    

        {{form.media}}
        {{form.as_p}}

        <button>enviar</button>

    </form>
<!--  -->
           </div>
 </section>

{% endblock %}    
        